* {
  margin: 0;
  padding: 0;
}

/*body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;  
}*/

.sign-form-container, .questionnaire-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;  
}

.app {
  height: 100vh;
  width: 100wh;  
}

.login-form-container {
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
  min-width: 400px;
  max-width: 600px;  
  outline: 1px solid rgb(158, 156, 156);
  box-shadow: 12px 12px 12px 3px rgba(217, 217, 222, 0.2);
}

.login-form {
  min-height: inherit;
  padding: 8px;
  display: flex;
  flex-direction: column;  
}

.login-form .submit-btn-container {
  margin-top: auto;  
}

.login-link {
  font-family: 'Arial';
  font-weight: bold;
  text-decoration: none;
  color: white;
  
}

.loginBtnContainer {  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 2px;
  font-size: large;
}

.questionnaireBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  margin-top: 2px;
  font-size: large;
}

.logoutBtn {
  font-family: 'Arial';
  font-weight: bold;
  font-size: large;
  color: white;
  background: transparent;
  border: none;
}

.logoutBtn:hover {
  cursor: pointer;
}